/.vscode
/build
/build-*
/test_package/build
/CMakeUserPresets.json
/cmake-build-*
/.vs/OpenEAW/config
/.vs/OpenEAW/FileContentIndex
/.vs/OpenEAW/v17
/.vs
/CMakeFiles
/khepri/Debug
/khepri/Khepri.dir/Debug/Khepri.tlog
/khepri/Khepri.dir/Debug
/khepri/tools
/Debug
/khepri
/OpenEAW.dir/Debug
/openglyph
/x64/Debug
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj.user
/CMakeCache.txt
/CMakeLists.txt
/cmake_install.cmake
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/OpenEAW.sln
/OpenEAW.vcxproj
*.filters
*.user
*.vcxproj
